.yellow-bg {
  background-color: lightgoldenrodyellow !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  
}

.text-center{
    text-align: center;
}